body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden !important;
}

.page-content {
  margin-top: 100px;
}

.form-control {
  background-color: #f3f3f3;
}

.color-sec{
  color: #BEBEBE;
}
